@import "antd/dist/antd.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

/* ORDER */
.ant-layout-header {
  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  background: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.ant-layout-sider {
  height: 100vh;
  background: #f8f8f8;
}

.sidebar__list {
  margin-top: 30%;
  list-style: none;
}

.sidebar__list .sidebar__list-item {
  padding: 1rem 0;
}

.sidebar__list .sidebar__list-link {
  color: #fff;
  background: #51d395;
  width: 150px;
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__wrapeer {
  width: 100%;
}

.order-btn {
  background: #51d395;
  color: #fff;
  border: 1px solid #51d395;
  border-radius: 30px;
}
.order-btn:hover {
  color: #51d395;
  background: #fafafa;
  border-color: #51d395;
}
.column__heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.column__heading input {
  padding: 0 10px;
  border: 1px solid #51d395;
  outline: none;
  width: 150px;
}

.column__heading input::placeholder {
  color: rgba(184, 184, 184, 0.686);
}

.wellcome {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
}

/* DASHBOARD */

.dash__wrapp {
  width: 100%;
  padding: 2rem 2rem;
}
.dash__wrapp .dash__top {
  display: flex;
  justify-content: space-around;
}

.dash__wrapp h2 {
  color: #51d395;
}
.dash__wrapp .meals {
  width: 300px;
  height: 300px;
  border: 2px solid #51d395;
  background: rgba(255, 255, 255, 0.802);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.dash__wrapp .meals:hover {
  box-shadow: 0px 3px 4px 4px #8d8d8db0;
}

.dash__wrapp .invoice {
  width: 300px;
  height: 300px;
  border: 2px solid #51d395;
  background: rgba(255, 255, 255, 0.802);
  border-radius: 10px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}
.dash__wrapp .invoice:hover {
  box-shadow: 0px 3px 4px 4px #8d8d8db0;
}

.invoice div {
  width: 100px;
  height: 100px;
  background-color: #51d395;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0px 3px 4px 3px #8d8d8db0;
}

.invoice div span {
  line-height: 3;
}
.dash__wrapp .totalOrderDate {
  width: 300px;
  height: 300px;
  border: 2px solid #51d395;
  background: rgba(255, 255, 255, 0.802);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.dash__wrapp .totalOrderDate:hover {
  box-shadow: 0px 3px 4px 4px #8d8d8db0;
}

.totalOrderDate .order__list {
  list-style: none;
}

.order__list .order__item {
  font-size: 24px;
  padding: 15px 0;
}

.order__item div {
  background: #51d395;
  color: #fff;
  width: 90%;
  height: 50px;
  margin: auto;
  line-height: 2;
  border-radius: 10px;
  box-shadow: 0px 3px 4px 1px #8d8d8db0;
}

.group__meals__wrapp{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.meals__nr{
  background: #51d395;
  color: #fff;
  height: 40px;
  margin: auto;
  line-height: 2;
  border-radius: 10px;
  box-shadow: 0px 3px 4px 1px #8d8d8db0;
  font-size: 20px;
  margin-bottom: 25px;
}

.meals__nr span{
  font-weight: 600;
}